<div id="categorias">
  <div class="navbar navbar-default yamm" role="navigation" id="navbar">
      <div class="navbar-header">
        <div class="navbar-buttons">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-align-justify"></i>
          </button>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
            <span class="sr-only">Toggle search</span>
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

      <div class="navbar-collapse collapse" id="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown yamm-fw">
            <a href="#" onclick="insertParam('tamanho', 123)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Novidades
            </a>
          </li>
          <li class="dropdown yamm-fw">
            <a href="/moda-feminina/roupas" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Roupas
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-sm-3">
                      <h5>Categorias</h5>
                      <ul>
                        <li><a href="/moda-feminina/roupas/vestidos">Vestidos</a></li>
                        <li><a href="/moda-feminina/roupas/blusas">Blusas</a></li>
                        <li><a href="/moda-feminina/roupas/camisas">Camisas</a></li>
                        <li><a href="/moda-feminina/roupas/regatas">Regatas</a></li>
                        <li><a href="/moda-feminina/roupas/calcas">Calças</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Sapatos
            </a>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Acessórios
            </a>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Active
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-sm-3">
                      <h5>Categorias</h5>
                      <ul>
                        <li><a href="/moda-feminina/active/body">Body</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Lingerie
            </a>
          </li>
        </ul>
      </div>

      <div class="navbar-buttons">
        <div class="navbar-collapse collapse right" id="search-not-mobile">
          <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
            <span class="sr-only">Toggle search</span>
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

      <div class="collapse clearfix" id="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" id="txtBusca" onkeypress="return runScript(event)">
            <span class="input-group-btn">
			  <button type="submit" class="btn btn-primary" onclick="buscar()" onkeypress="return runScript(event)">

              </button>
		    </span>
          </div>
      </div>
  </div>
</div>