<div id="filtros">
  <div class="navbar navbar-default yamm" role="navigation" id="navbarFiltro">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-buttons">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-align-justify"></i>
          </button>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
            <span class="sr-only">Toggle search</span>
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

      <div class="navbar-collapse collapse" id="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Cor
            </a>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Preço
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-sm-3">
                      <h5>Categorias</h5>
                      <ul>
                        <li><a href="category.html">Todas as Roupas</a></li>
                        <li><a href="category.html">Mais Vendidos</a></li>
                        <li><a href="category.html">Vestidos</a></li>
                        <li><a href="category.html">Blusas</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Tamanho
            </a>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Tecido
            </a>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Tendência
            </a>
          </li>
          <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
              Ordenar
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>