
<%- partial ('../produto/filtros') %>

<div id="lista-produtos">

  <div id="produtos">
  <%
  produtos.forEach(function(produto) { 
  %>

    <a>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <img src="../img/produtos/<%= produto.imagem %>" alt="<%= produto.nome %>" style="height:200px; width:200px;">
      
        <br>
        <%= produto.nome %>
      </div>
    </a>
  <% 
  }); 
  %>
  </div>
<div>